.Header-design{
    background-color: white;
    width: auto;
}
.header{
    margin-left: 25px;
}
.Details{
    margin-left: 120px;
    padding: 5px;
    list-style: none;
    display: flex;
}
.items-1{
    margin-left: 30px;
    color: orange;
}
.items-2{
    margin-left: 30px;
    color:skyblue ;
}
.items-3{
    margin-left: 30px;
    color: #05D4DF;
}
.items-4{
    margin-left: 30px;
    color: #5D58EF;
}
.header-btn{
    margin-left: 132px;
    width: 110px;
    height: 30px;
    align-items: center;
    margin-top: 18px;
    background-color: orange;
    border: none;
    border-radius: 5PX;
   color: azure;
}
@media screen and (max-width:576xp) {
   .Header-design{
    flex-direction: column;
   }
}
/*--- Section 2 Start --*/
/*.row{
    display: flex;
    
}
.row-2{
    margin-left: 500px;
    height: 450px;
    width: 400px;
}
.none{
    grid-column: auto;
    height: 200px;
    width: 400px;
}
*/
.section{
    display: flex;
    margin-left: 30px;
}
.image{
    margin-left: 170px;
    height: 400px;
    width: 350px;
}
.data{
    
    margin-top: 80px;
    margin-left: 0px;
    
}
.data-1{
    color:orange ;
}
.data-2{
    color: skyblue;
}
.btn-2{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 120px;
}
/*--- Stanmdard Section --*/
.mid{
    text-align: center;
    margin-top: 20px;
}
/* -- Carriculam Section start --*/
.carriculam{
    display: flex;
    margin-left: 10px;
    width: 850px;
}
.background-image{
    height: 200px;
    width: 900px;
}
.standard-1{
    border: none;
    border-radius: 5px;
    text-align: center;
    opacity: 0.6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgb(212, 234, 255), white);

}
.standard-2{
    border: none;
    border-radius: 5px;
    text-align: center;
    opacity: 0.6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgb(243, 223, 186), white);
    margin-left: 10px;
}
.standard-3{
    
    border: none;
    border-radius: 5px;
    text-align: center;
    opacity: 0.6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgb(208, 176, 227), white);
    margin-left: 10px;
}
/*-- button section --*/
.new-btn{
    text-align: center;
    margin-top: 15px;
}
.unit{
    background-color: orange;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    color: aliceblue;
}
/* --- story Section --*/
.stories{
    text-align: center;
    margin-top: 30px;
}
/* -- New Section --*/
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width:1200px;
  margin: 0 auto;
  margin-left: -20PX;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
 overflow: hidden
}

.card-image {
  position: relative;
  width:500px;
  height: 300px;
  overflow: hidden;
}

.card-image img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.date-badge {
    position: absolute;
    top: 272px;
    left: 5px;
    background-color: #1abc9c;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 16px;
  margin: 10px;
  color: #333333;
  font-weight: bold;
}

.card-description {
  font-size: 14px;
  color: #666666;
  line-height: 1.6;
}
/* Footer Section Start */
.foot{
    text-align: center;
}
.new-foot{
    width: 120px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}
/* last Section --*/
.Header-design-1{
    background-color: rgb(18, 219, 195);
    width: auto;
}
.header-1{
    margin-left: 10px;
    background-color: #9196e2;
    display: flex;
    margin-top: 20px;
    opacity: 0.8;
}
.Details-1{
    margin-left: 120px;
    padding: 5px;
    list-style: none;
    
}
.items-5{
    margin-left: 30px;
   color: white;
}
.items-6{
    margin-left: 30px;
    color: white ;
}
.items-7{
    margin-left: 30px;
    color: white;
}
.items-8{
    margin-left: 30px;
    color: white;
}
.header-btn{
    margin-left: 120px;
    width: 110px;
    height: 30px;
    align-items: center;
    margin-top: 18px;
    background-color: orange;
    border: none;
    border-radius: 5PX;
   color: azure;
}
.load{
    height: 90px;
    margin-top: 30px;
}
.name-1{
    color: rgb(235, 241, 247);
    margin-top: 60px;
}
.rest{
    color: #ffffff;
    margin-bottom: 10px;
}
.done{
    margin-left: 200px;
}
.door-1{
    margin-left: 180px;
    width: 40px;
    height: 40px;
    margin-top: 50px;
    padding: 5px;
}
.door-2{
    width: 40px;
    height: 40px;
    margin-top: 50px;
    padding: 5px;
}

.door-3{
    width: 40px;
    height: 40px;
    margin-top: 50px;
    padding: 5px;
}

.door-4{
    width: 40px;
    height: 40px;
    margin-top: 50px;
    padding: 5px;
    
}

